In [1]:
ls

QUICKsnake.sh   Untitled.ipynb  bam/            samples.txt
Snakefile       align-env.yml   fastq/

In [1]:
test = pd.read_csv('samples.txt', header=None)

In [8]:
list(test.iloc[:,0])

['D13A',
 'D13B',
 'D14A',
 'D14B',
 'D15A',
 'D15B',
 'D22A',
 'D22B',
 'D24A',
 'D24B',
 'D25A',
 'D25B',
 'D28A',
 'D28B',
 'D34A',
 'D34B',
 'D35A',
 'D35B',
 'D36A',
 'D36B',
 'LK10A2',
 'LK10A',
 'LK10B',
 'LK12A',
 'LK12B',
 'LK16A',
 'LK16B',
 'LK18A',
 'LK18B',
 'LK19A',
 'LK19B',
 'LK1A',
 'LK1B',
 'LK20A',
 'LK20B',
 'LK21A',
 'LK21B',
 'LK23A',
 'LK23B',
 'LK2A',
 'LK2B',
 'LK3A',
 'LK3B',
 'LK4A',
 'LK4B']

In [2]:
test['Lane'] = "001"
test = test.rename(columns={0:"sample"})
repl = lambda m: "_" + m.group(1)
test['name'] = test['sample'].str.replace("([AB][12]?)", repl)
# test.to_csv('DLBCL_sheet.csv', sep='\t')

In [32]:
samples = test.reset_index()
samples[['sample', 'TN']] = samples['name'].str.extract('(?P<sample>^[^_]+)_(?P<TN>[^_]+)$')
tumor = ['A', 'A2']
normal = 'B'

samples[:10]

   index sample Lane   name TN
0      0    D13  001  D13_A  A
1      1    D13  001  D13_B  B
2      2    D14  001  D14_A  A
3      3    D14  001  D14_B  B
4      4    D15  001  D15_A  A
5      5    D15  001  D15_B  B
6      6    D22  001  D22_A  A
7      7    D22  001  D22_B  B
8      8    D24  001  D24_A  A
9      9    D24  001  D24_B  B

In [45]:
def TN_pair(group):
    if normal in list(group['TN']):
        TN_list = []
        for t in tumor:
            if t in list(group['TN']):
                TN_list.append(f"{group['sample'].iloc[0]}_{t}-{normal}")
        return pd.Series(TN_list)

In [54]:
samples.groupby('sample').apply(TN_pair).reset_index().iloc[:,-1]

0       D13_A-B
1       D14_A-B
2       D15_A-B
3       D22_A-B
4       D24_A-B
5       D25_A-B
6       D28_A-B
7       D34_A-B
8       D35_A-B
9       D36_A-B
10      LK1_A-B
11     LK10_A-B
12    LK10_A2-B
13     LK12_A-B
14     LK16_A-B
15     LK18_A-B
16     LK19_A-B
17      LK2_A-B
18     LK20_A-B
19     LK21_A-B
20     LK23_A-B
21      LK3_A-B
22      LK4_A-B
Name: 0, dtype: object

In [31]:
'A' in ['A', 'B']

True